In [11]:
import datetime as dt
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import yfinance as yf

In [12]:
tickerSymbols = ['TSLA', 'AAPL','MSFT','NVDA','AMZN','AMD','GME']

TSLA = yf.Ticker(tickerSymbols[0])
AAPL = yf.Ticker(tickerSymbols[1])
MSFT = yf.Ticker(tickerSymbols[2])
NVDA = yf.Ticker(tickerSymbols[3])
AMZN = yf.Ticker(tickerSymbols[4])
AMD = yf.Ticker(tickerSymbols[5])
GME = yf.Ticker(tickerSymbols[6])

In [17]:
TSLA_df = TSLA.history(period = '3m', start = '2022-07-01', end = '2022-10-01')
AAPL_df = AAPL.history(period = '3m', start = '2022-07-01', end = '2022-10-01')
MSFT_df = MSFT.history(period = '3m', start = '2022-07-01', end = '2022-10-01')
NVDA_df = NVDA.history(period = '3m', start = '2022-07-01', end = '2022-10-01')
AMZN_df = AMZN.history(period = '3m', start = '2022-07-01', end = '2022-10-01')
AMD_df = AMD.history(period = '3m', start = '2022-07-01', end = '2022-10-01')
GME_df = GME.history(period = '3m', start = '2022-07-01', end = '2022-10-01')

In [38]:
TSLA = TSLA_df['Close']
AAPL = AAPL_df['Close']
MSFT = MSFT_df['Close']
NVDA = NVDA_df['Close']
AMZN = AMZN_df['Close']
AMD = AMD_df['Close']
GME = GME_df['Close']

In [42]:
stocks_df = pd.concat([TSLA, AAPL, MSFT, NVDA, AMZN, AMD, GME], axis = 'columns', join = 'inner')
stocks_df.columns = ['TLSA', 'AAPL', 'MSFT', 'NVDA', 'AMZN', 'AMD', 'GME']
stocks_df.tail()

,TLSA,AAPL,MSFT,NVDA,AMZN,AMD,GME
Date,,,,,,,
2022-09-26,276.010010,150.770004,237.449997,122.279999,115.150002,66.300003,24.480000
2022-09-27,282.940002,151.759995,236.410004,124.129997,114.410004,67.169998,26.129999
2022-09-28,287.809998,149.839996,241.070007,127.360001,118.010002,68.360001,27.309999
2022-09-29,268.209991,142.479996,237.500000,122.199997,114.800003,64.139999,25.459999
2022-09-30,265.250000,138.199997,232.899994,121.389999,113.000000,63.360001,25.129999

In [43]:
# percentage Change
stocks_df1 = stocks_df.pct_change().dropna()
stocks_df1.head()

,TLSA,AAPL,MSFT,NVDA,AMZN,AMD,GME
Date,,,,,,,
2022-07-05,0.025536,0.018930,0.012597,0.030366,0.035962,0.020768,-0.025847
2022-07-06,-0.005721,0.009607,0.012783,0.011093,0.007313,0.001995,-0.023289
2022-07-07,0.055279,0.023999,0.008227,0.048116,0.017493,0.052422,0.150643
2022-07-08,0.025435,0.004715,-0.002757,-0.001261,-0.006791,0.000630,-0.048697
2022-07-11,-0.065480,-0.014758,-0.011769,-0.043314,-0.032803,-0.030246,0.012059

In [47]:
# standard deviation of each stock
stocks_sd = stocks_df.std()

In [49]:
# Annualized Volatility of Each stock
Annualized_volatility = stocks_df.std() * np.sqrt(252)

TLSA    381.683977
AAPL    147.864147
MSFT    259.504845
NVDA    350.607789
AMZN    168.650634
AMD     172.336350
GME      82.785045
dtype: float64

In [50]:
# Beta against ETFS
TSLA_df.

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-07-01,227.000000,230.229996,222.119995,227.263336,74460300,0,0.0
2022-07-05,223.000000,233.146667,216.166672,233.066666,84581100,0,0.0
2022-07-06,230.779999,234.563339,227.186661,231.733337,71853600,0,0.0
2022-07-07,233.919998,245.363327,232.210007,244.543335,81930600,0,0.0
2022-07-08,242.333328,254.979996,241.160004,250.763336,101854200,0,0.0
...,...,...,...,...,...,...,...
2022-09-26,271.829987,284.089996,270.309998,276.010010,58076900,0,0.0
2022-09-27,283.839996,288.670013,277.510010,282.940002,61925200,0,0.0
2022-09-28,283.079987,289.000000,277.570007,287.809998,54664800,0,0.0
2022-09-29,282.760010,283.649994,265.779999,268.209991,77620600,0,0.0
2022-09-30,266.149994,275.570007,262.470001,265.250000,67517800,0,0.0